<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-navigation-menu></app-navigation-menu>
    <span class="spacer"></span>
    <app-language-menu></app-language-menu>
  </mat-toolbar-row>
</mat-toolbar>
