<mat-toolbar color="primary">
  <mat-toolbar-row class="side-bar-header-container">
    <p class="side-bar-header-text">NEWS APP</p>
    <mat-icon (click)="toggleSideBar()" class="close-side-bar-btn">close</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>
  <a routerLink=""
     mat-list-item
     (click)="toggleSideBar()">
    {{ 'NAVIGATION_MENU.TOP_NEWS' | translate }}
  </a>
  <a routerLink="/category"
     mat-list-item
     (click)="toggleSideBar()">
    {{ 'NAVIGATION_MENU.CATEGORIES' | translate }}
  </a>
  <a routerLink="/search"
     mat-list-item
     (click)="toggleSideBar()">
    {{ 'NAVIGATION_MENU.SEARCH' | translate }}
  </a>
</mat-nav-list>
