<nav>
  <button mat-button
          *ngFor="let language of languages"
          (click)="setLanguage($event, language)"
          [disabled]="isLanguageSelectionDisabled(language)">
    {{ language.shortName }}
  </button>
</nav>
