.category-name {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.no-articles {
  width: 100%;
  font-size: 20px;
}

.news-card-wrapper {
  padding-top: 30px;
  background: #636363;
}
