<div class="news-grid" fxLayout="row wrap" fxLayoutAlign="space-evenly">

  <ng-container *ngIf="sortByCategory && filteredNews[0].articles.length">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let category of filteredNews" expanded class="expansion-panel">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <a class="category-name" routerLink="/category/{{category.category}}">{{ category.category }}</a>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="space-evenly" class="news-card-wrapper">
          <app-news-card *ngFor="let article of category.articles"
                         [article]="article"
                         fxFlex.xs="100"
                         fxFlex.gt-sm="33">
          </app-news-card>

          <p *ngIf="!category.articles.length" class="no-articles">{{ 'NO_RESULTS' | translate }}</p>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <ng-container *ngIf="!sortByCategory">
    <app-news-card *ngFor="let article of news"
                   [article]="article"
                   fxFlex.xs="100"
                   fxFlex.gt-sm="33">
    </app-news-card>

    <p *ngIf="!news.length" class="no-articles">{{ 'NO_RESULTS' | translate }}</p>
  </ng-container>
</div>
