<mat-progress-bar class="example-margin"
                  color="accent"
                  mode="indeterminate"
                  *ngIf="showLoader"
                  class="progress-bar">
</mat-progress-bar>

<mat-sidenav-container (backdropClick)="toggleSideBar()" class="side-bar-container">

  <mat-sidenav [opened]="sharedStoreSandbox.$sideBarOpened | async" class="side-bar">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <app-header></app-header>

  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
