.main-container {
  max-width: 1200px;
  margin: 30px auto 0 auto;
  padding: 0 15px 30px;

  @media (min-width: 601px) {
    padding: 0 30px 30px;
  }
}

.side-bar {
  width: 320px;
}

.side-bar-container {
  height: 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 2;
}
