<h1>{{ article?.title }}</h1>

<img [src]="article?.urlToImage ? article.urlToImage : 'https://via.placeholder.com/1200'" class="article-image">

<p [innerHTML]="article?.content"></p>

<button (click)="goBack()" mat-button>
  <mat-icon>keyboard_backspace</mat-icon>
  {{ 'BACK_TO_LIST' | translate }}
</button>
