<nav fxHide.lt-sm>
  <a routerLink="" mat-button>{{ 'NAVIGATION_MENU.TOP_NEWS' | translate }}</a>
  <a routerLink="/category" mat-button>{{ 'NAVIGATION_MENU.CATEGORIES' | translate }}</a>
  <a routerLink="/search" mat-button>{{ 'NAVIGATION_MENU.SEARCH' | translate }}</a>
</nav>

<button (click)="toggleSideBar()" fxHide.gt-xs class="hamburger-btn">
  <mat-icon>menu</mat-icon>
</button>
