.news-card {
  max-width: 300px;
  margin: 0 auto 30px;
}

.news-card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-title {
  line-height: 25px;
}
