<mat-card class="news-card">
  <mat-card-header>
    <div mat-card-avatar class="news-card-header-image"></div>
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>{{ article.author }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="article.urlToImage ? article.urlToImage : 'https://via.placeholder.com/300'">

  <mat-card-content>
    <p>{{ article.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a [routerLink]="article.articleLink" mat-button>{{ 'MORE' | translate }}</a>
  </mat-card-actions>
</mat-card>
