<h1>{{ 'TOP_NEWS_SEARCH' | translate:country }}</h1>

<mat-form-field class="example-full-width">
  <input matInput [placeholder]="searchInputPlaceholder" #searchInput>
</mat-form-field>

<app-news-grid [news]="news"></app-news-grid>
